{% extends 'base.html.twig' %}


{% block body %}
	<div class="row">
		<section class="col">
		
		<img src="https://picsum.photos/200/400" class="img-fluid" alt="" />
		</section>
		<section class="col">
		
		<img src="https://picsum.photos/200/400" class="img-fluid" alt="" />
		</section>
		<section class ="col">
		
		<img src="https://picsum.photos/200/400" class="img-fluid" alt="" />
		</section>
	</div>
	<p>
	Présentation de SAFER
	</p>


			
{% endblock %}
