{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<ul><li><a href="/admin/biens">Accéder au page des biens </a></li>
<li><a href="/admin/favoris">Accéder au page des favoris </a></li>
<li><a href="/admin/utilisateurs">Accéder au page des utilisateurs </a></li>


</ul>

{% endblock %}
