{% extends 'base.html.twig' %}

{% block title %}Administration des biens
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
            <center><h1>Ajouter un bien</h1></center>
				
                {% include "admin/biens/_form.html.twig" %}
			</div>
		</section>
	</main>
{% endblock %}
