{% extends 'base.html.twig' %}

{% block title %}Administration des biens {% endblock %}

{% block body %}
<h1>Administration des biens
</h1>
 <center> <a href="{{ path('admin_biens_ajout')}}" class="btn btn-success " > Ajouter</a></center>
{% endblock %}
