<!-- Footer area-->
<div class="footer-area">

	<div class=" footer">
		<div class="container">
			<div class="row">

				<div class="col-md-3 col-sm-6 wow fadeInRight animated">
					<div class="single-footer">
						<h4>A Propos </h4>
						<div class="footer-title-line"></div>

							<table >

								<tr>
									<p>Un travail de Corentin Buffault, Corentin Friant et Briac Helleu</p>

								</tr>






							</table>


					</div>
				</div>
				<div class="col-md-3 col-sm-6 wow fadeInRight animated">
					<div class="single-footer">
						<h4>liens Rapides</h4>
						<div class="footer-title-line">

								<ul class="footer-menu">

							<table>
								<tr>
									<td><li><a href="{{path('main')}}" aria-current="page"> Accueil </a></li></td>

									<td><li><a href="{{path('categories_index')}}"> Categories </a></li></td>
								</tr>
								<tr>
									<td><li><a href="{{path('favoris_index')}}"> Favoris </a></li></td>

									<td><li><a href="{{path('contacts_index')}}">  	Contacts </a></li></td>
								</tr>
							</table>
							</ul>
						</div>
					</div>


				</div>

				<div class="col-md-3 col-sm-6 wow fadeInRight animated">
					<div class="single-footer">
						<h4>Information</h4>
						<div class="footer-title-line">

							<ul class="footer-menu">

								<table>
									<tr>
										<td><i class="pe-7s-map-marker strong"> </i> Rennes 35000</td>
									</tr>
									<tr>
										<td><i class="pe-7s-mail strong"> </i> email@yourcompany.com</td>
									</tr>
									<tr>
										<td><i class="pe-7s-call strong"> </i> +33 1 23 45 67 89</td>
									</tr>
								</table>
							</ul>
						</div>
					</div>


				</div>


			</div>


			</div>
		</div>
	</div>


	</div>

</div>

